body {
  background-image: url('purple-bg.jpg');
  background-size: cover;
  background-position: center;
  width: 1000px;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  user-select: none;
  height: 100vh;
}

h2 {
  color: lightgreen;
  text-shadow: rgb(22, 22, 204) 2px 2px;
  font-size: 55px;
  text-align: center;
  height: 60px;
  margin-bottom: 25px;
  font-weight: bolder;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

span{
  font-size: 75px;
  margin-top: 20px;
}

div[id^="row-"] div {
  width: 200px;
  height: 200px;
  border: 2px solid rgb(126, 37, 243);
  float: left;

}

div[id^="row-"] div:last-child {
  border-right: none;
}

div[id^="row-"] div:first-child {
  border-left: none;
}

div[id="row-1"] div{
  border-top: none;
}

div[id="row-3"] div{
    border-bottom: none;
}

div[id^="row-"] {
  clear: float;
  width: 608px;
  box-sizing: border-box;
  overflow: hidden;
}

div.board {
  width: 608px;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
  background-color: yellowgreen;
}
button#start {
  margin-top: 35px;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
  border: solid 3px #333333
  
}
button#start:disabled {
  background-color: grey;
  color: darkgray;
}