* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('purple-bg.jpg');
  background-position: cover;
  text-align: center;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
  color: lightgreen;
  text-shadow: rgb(22, 22, 204) 2px 2px;
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 4px;
  text-transform: uppercase;
}

div.status {
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 3px 3px 10px black;
}

div.status input {
  margin: 5px;
}

.hidden {
  display: none;
}
button#start {
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
  border: solid 3px #333333
}

button#start:disabled {
  background-color: grey;
  color: darkgray;
}

#nameButton {
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
}

input#playerInput {
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
}

#timer {
  font-size: 1.5rem;
}


/*******************************
    CSS FOR TIC TAC TOE BOARD 
 *******************************/

div[id^="row-"] div {
  width: 200px;
  height: 200px;
  border: 2px solid rgb(126, 37, 243);
  float: left;

}

div[id^="row-"] div:last-child {
  border-right: none;
}

div[id^="row-"] div:first-child {
  border-left: none;
}

div[id="row-1"] div{
  border-top: none;
}

div[id="row-3"] div{
    border-bottom: none;
}

div[id^="row-"] {
  clear: float;
  width: 608px;
  box-sizing: border-box;
  overflow: hidden;
}

div.board {
  width: 608px;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(154, 205, 50, .85);
}